/* Imports */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:400,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Madimi+One:400,500,700,900&display=swap");
/* CSS Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inter {
  font-family: "Inter", sans-serif;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.madimi {
  font-family: "Madimi One", sans-serif;
}

.vw-5 {
  font-size: 5vw;
}

.vw-2 {
  font-size: 2vw;
}

.vw-3 {
  font-size: 3vw;
}

.navbar {
  filter: drop-shadow(0px 5px 10px #5b5b5b);
}

.navbar-toggler {
  padding: 0;
  width: 60px;
  height: 46px;
}
.navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: rgb(55, 229, 73);
  margin: 7px 0;
  transition: all 0.3s;
}
.navbar-toggler[aria-expanded=true] .s-1 {
  transform: rotate(45deg);
  margin: 0;
  margin-bottom: -4px;
  background-color: rgb(252, 23, 23);
}
.navbar-toggler[aria-expanded=true] .s-2 {
  display: none;
}
.navbar-toggler[aria-expanded=true] .s-3 {
  transform: rotate(-45deg);
  margin: 0;
  margin-top: -4px;
  background-color: rgb(252, 23, 23);
}
.navbar-toggler[aria-expanded=false] .s-1,
.navbar-toggler[aria-expanded=false] .s-2,
.navbar-toggler[aria-expanded=false] .s-3 {
  transform: none;
}

.navbar-nav > li > a {
  position: relative;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #a0a0a0;
  font-size: 18px;
  letter-spacing: 0.5px;
  padding: 0 10px;
}
.navbar-nav > li a:after {
  content: "";
  position: absolute;
  background-color: #4fef3a;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
.navbar-nav > li a:hover {
  color: #ffffff;
}
.navbar-nav > li a:hover:after {
  width: 100%;
}

.navbar-nav .nav-link.active {
  color: #4fef3a !important;
  font-weight: bold;
}

header {
  position: relative;
  height: 800px;
  min-height: 500px;
  width: 100%;
  background: #ffffff url(/img/gradient.jpg) no-repeat top center;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  overflow: hidden;
}

.main_cntnt {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.resume-btn .btn-success {
  background-color: rgb(178, 46, 235);
  filter: drop-shadow(-5px 3px 2px #000000);
  border-radius: 15px;
  color: #000000;
}
.resume-btn .btn-success > a {
  color: #000000;
}

.resume-btn .btn-success:hover {
  background-color: rgb(95, 36, 120);
  color: rgb(255, 255, 255);
}
.resume-btn .btn-success:hover > a {
  color: #ffffff;
}

.social-buttons {
  display: flex;
  width: 250px;
  height: 70px;
  border: 2px solid black;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1529411765);
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  padding: 5px 3px;
  border-radius: 4em;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 10px;
  background-color: #fff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1529411765);
  transition: 0.3s;
}

.social-button:hover {
  background-color: #f2f2f2;
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.1529411765);
}

.social-buttons svg {
  transition: 0.3s;
  height: 20px;
}

.facebook {
  background-color: #3b5998;
}

.facebook svg {
  fill: #f2f2f2;
}

.facebook:hover svg {
  fill: #3b5998;
}

.github {
  background-color: #333;
}

.github svg {
  width: 25px;
  height: 25px;
  fill: #f2f2f2;
}

.github:hover svg {
  fill: #333;
}

.linkedin {
  background-color: #0077b5;
}

.linkedin svg {
  fill: #f2f2f2;
}

.linkedin:hover svg {
  fill: #0077b5;
}

.instagram {
  background-color: #c13584;
}

.instagram svg {
  fill: #f2f2f2;
}

.instagram:hover svg {
  fill: #c13584;
}

/* Medium Screens */

/*# sourceMappingURL=styles.css.map */
