/* Imports */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:400,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Madimi+One:400,500,700,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.inter {
    font-family: 'Inter', sans-serif;
}
.montesserat {
  font-family: 'Inter', sans-serif;
}
.montage {
  font-family: "Montaga", serif;
}
.roboto{
    font-family: "Roboto", sans-serif;
}
.madimi{
    font-family: "Madimi One", sans-serif;
   }
.vw-5{
    font-size: 5vw;
}
.vw-2{
    font-size: 2vw;
}
.vw-3{
    font-size: 3vw;
}
.navbar{
    filter: drop-shadow(0px 5px 10px #5b5b5b);
}
.navbar-toggler {
    padding: 0;
    width: 60px;
    height: 46px;
    span {
      display: block;
      width: 35px;
      height: 4px;
      background-color: rgb(55, 229, 73);
      margin: 7px 0;
      transition: all 0.3s;
    }
  
    &[aria-expanded="true"] {
      .s-1 {
        transform: rotate(45deg);
        margin: 0;
        margin-bottom: -4px;
        background-color: rgb(252, 23, 23);
      }
  
      .s-2 {
        display: none;
      }
  
      .s-3 {
        transform: rotate(-45deg);
        margin: 0;
        margin-top: -4px;
        background-color: rgb(252, 23, 23);
      }
    }
  
    &[aria-expanded="false"] {
  
      .s-1,
      .s-2,
      .s-3 {
        transform: none;
      }
    }
  }
.navbar-nav>li{
  >a{
    position: relative;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    color: #a0a0a0;
    font-size: 18px;
    letter-spacing: 0.5px;
    padding: 0 10px;
  }
  a:after{
    content: "";
    position: absolute;
    background-color: #4fef3a;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
  }
  a:hover{
  color: #ffffff;
  }
  a:hover:after{
  width: 100%;
  }
  
}

.navbar-nav .nav-link.active{
  color: #4fef3a !important;
  
}
header {
  position: relative;
  height: 890px;
  min-height: 500px;
  width: 100%;
  background: #ffffff url(/img/gradient.jpg) no-repeat top center;
  background-size: cover !important;
 -webkit-background-size: cover !important;
  //text-align: center;
  overflow:visible;
}
header>nav+div{
  margin-top: 6rem;
}
.main_cntnt{
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );

}
.resume-btn .btn-success{
  background-color: #6DECAF;
  font-family: "Madimi One", sans-serif;
  filter: drop-shadow(-5px 3px 2px #000000);
  border-radius: 15px;
  color: #000000;
  >a{
  color: #000000 ;
  }
}
.resume-btn .btn-success:hover{
  background-color:#0d9d79 ;
  color: rgb(255, 255, 255);
  >a{
    color: #ffffff ;
  }
}
.social-buttons {
  display: flex;
  width: 250px;
  height: 70px;
  //border: 2px solid black;
  justify-content: center;
  align-items: center;
  //background-color: #f2f2f2;
  box-shadow: 0px 0px 15px #00000027;
  background: rgba( 255, 255, 255, 0.2 );
  backdrop-filter: blur( 8px );
  -webkit-backdrop-filter: blur( 8px );
  padding: 5px 3px;
  border-radius: 4em;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 10px;
  background-color: #fff;
  box-shadow: 0px 0px 4px #00000027;
  transition: 0.3s;
}

.social-button:hover {
  background-color: #f2f2f2;
  box-shadow: 0px 0px 6px 3px #00000027;
}

.social-buttons svg {
  transition: 0.3s;
  height: 20px;
}

.facebook {
  background-color: #3b5998;
}

.facebook svg {
  fill: #f2f2f2;
}

.facebook:hover svg {
  fill: #3b5998;
}

.github {
  background-color: #333;
}

.github svg {
  width: 25px;
  height: 25px;
  fill: #f2f2f2;
}

.github:hover svg {
  fill: #333;
}

.linkedin {
  background-color: #0077b5;
}

.linkedin svg {
  fill: #f2f2f2;
}

.linkedin:hover svg {
  fill: #0077b5;
}

.instagram {
  background-color: #c13584;
}

.instagram svg {
  fill: #f2f2f2;
}

.instagram:hover svg {
  fill: #c13584;
}
header>p.scrolldown>a {
  position: absolute;
  bottom: 170px;
  left: 50%;
  margin-left: -29px;
  display: block;
  height: 42px;
  width: 42px;
  font-size: 42px;
  line-height: 42px;
  color: #000000;
  border-radius: 100%;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
header>p.scrolldown>a:hover { color: #2e9fa2; }
// About Me
#about_me{
  background-color: #011222;
  height: 800px;
  min-height: 500px;
}
@media (max-width: 1199px) {
    
    
}

/* Medium Screens */
@media (max-width: 767px) {
    
  
}