/* CSS Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    background-color: black;
}

.my_fnt_josefin {
    font-family: 'Josefin Sans', sans-serif;
}
.bg-lghtgrn{
    background-color: rgba(255, 255, 255,0.4);
}
.h2 {
    color: rgb(101, 224, 56);
}

.navbar-brand {
    font-family: 'Josefin Sans', sans-serif;
    font-size: x-large;
    color: rgb(101, 224, 56);
}

.navbar-nav {
    font-family: 'Inter', sans-serif;
}

.nav-containr {
    margin: 0 20%;
}

.nav-link {
    text-align: center;
}

.main_cntainr {
    padding: 0;
}

.main_txt {
    color: azure;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 350%;
    font-weight: 700;
    border-left: 1px solid chartreuse;
}

.main_img_cntainr {
    padding: 10%;
}

.more_abt_btn {

    background-color: black;
    color: white;
    border: 2px solid white;
    transition: background-color 0.3s, color 0.3s;
    font-size: 50%;
}

.more_abt_btn:hover {
    background-color: white;
    color: black;
    border: 2px solid chartreuse;
}
.sctn{
    padding: 0 10% 0 10%;
}
@media (max-width: 1199px) {
    .nav-containr {
        margin: 0;
    }
    
}

/* Medium Screens */
@media (max-width: 767px) {
    
    .main_txt {
        border: 0;
        
    }
    .sctn{
        padding: 0;
    }
}